.diagram-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6%;
}

.diagram-bar__inner {
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    background: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.diagram-bar__fill {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);



    width: 100%;
    transition: all 0.3s ease-out;
}

.diagram-bar__label {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    color: white;
}